[alias]
  b   = branch
  ba  = branch --all
  c   = checkout
  cb  = checkout -b
  cm  = checkout master
  ms  = git merge --squash
  ri  = git rebase -i
  p   = pull
  f   = fetch
  s   = status
  bl  = blame
  g   = grep

[color]
  ui = auto
