[alias]
  b   = branch
  ba  = branch --all
  c   = checkout
  cb  = checkout -b
  cm  = checkout master
 coa  = commit --amend
  ms  = merge --squash
  ri  = rebase -i
  rp  = remote prune origin
  p   = pull
  f   = fetch
  s   = status
  bl  = blame
  g   = grep

[color]
  ui = auto
